.search_bar {
    position: fixed;
    top: 0.5rem;
    left: unset;
    right: 0.5rem;
    width: 23rem;
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    /* transition: width 0.3s ease; */
    padding: 0.2rem;
}

/* .search_bar:hover {
    width: 30rem;
} */

.search_float {
    position: fixed;
    top: 4rem;
    left: unset;
    right: 0.5rem;
    bottom: 0.5rem;
    width: 23rem;
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
}

.container_outer {
    text-align: left;
    /* padding-left: 5rem; */
}

.container {
    /* margin-right: 5rem; */
    width: 100%;
    max-width: unset;
    border: none;
}

.container {
    border-left: 1px solid #ffffff22;
    border-right: 1px solid #ffffff22;
}

.nav {
    position: fixed;
    top: 50%;
    height: 19rem;
    left: 0.5rem;
    transform: translateY(-50%);
    width: 4rem;
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    background-color: #00000000 !important;
}

.nav_item_warp {
    display: flex;
    height: 18rem;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.page_control,
.tiny_btn {
    bottom: 0.5rem;
}

.float_title {
    position: fixed;
    top: 0.5rem;
    left: unset;
    left: 0.5rem;
    width: 22rem;
    padding-top: 0.1rem;
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
}

#back_btn {
    top: 1.25rem;
    /* left: unset; */
    left: 1.5rem;
}

.media_container_two,
.media_container_three,
.media_container_four {
    max-width: 40rem;
}

.media_container_many {
    grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
}

.media_container_one .card_media {
    max-height: 100vh;
}

.user_header_banner {
    height: 12rem;
    margin-top: -4rem;
}

.nav_item_deco {
    left: unset;
    right: -0.2rem;
    top: 10%;
    height: 80%;
    width: 0.2rem;
    border-radius: 0.3rem;
    background-color: #ffffff;
}

#toast_div {
    bottom: 3rem;
    transform: none;
}