.media_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 0.15rem;
}

.media_grid_item {
    position: relative;
    display: inline-block;
    background-color: #ffffff11;
    overflow: hidden;
    width: 100%;
    border-radius: 0.2rem;
    aspect-ratio: 1/1;
}

.media_grid_item img {
    -webkit-user-drag: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}