.media_grid{
    display: grid;
    
    /* width: calc(100% - 0.8rem); */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 0.15rem;
    /* background-color: #222; */
}

.media_grid_item{
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    border-radius: 0.2rem;
    aspect-ratio: 1/1;
}

.media_grid_item img{
    -webkit-user-drag: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video_icon {
    opacity: 0.7;
}

.video_icon img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}