html {
    width: 100vw;
}

* {
    padding: 0;
    margin: 0;
    -webkit-user-drag: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    outline: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/* *:focus {
    outline-width: 0.1rem;
    outline-style: solid;
    outline-color: #fff6;
} */

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: #ffffff33;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffffaa;
}

body {
    color: var(--text-color);
    background-color: var(--bg-color);
    font-family: sans-serif;
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
    user-select: none;
}

.nav {
    position: fixed;
    text-align: center;
    z-index: 1;
    bottom: -1px;
    left: 0;
    width: 100%;
    /* padding-top: 0.1rem; */
    /* border-top: 1px solid var(--border-color); */
}

.nav_item_warp {
    display: inline-flex;
    justify-content: space-between;
    padding: 0.2rem 2rem;
    width: 100%;
    /* margin: 0 4rem;
    width: calc(100% - 8rem); */
    /* max-width: 20rem; */
    /* border-radius: 6rem; */
    text-wrap: nowrap;
    overflow: auto;
}

.nav_item {
    position: relative;
    display: inline-block;
    z-index: 8;
    padding: 0.3rem;
    height: 2.4rem;
    width: 2.4rem;
    border-radius: 6rem;
    color: var(--accent-color);
    text-decoration: none;
    /* overflow: hidden; */
    opacity: 0.9;
}

.nav_item:hover {
    opacity: 1;
}

.nav_item img {
    height: calc(100% - 0.1rem);
    aspect-ratio: 1;
}

.nav_item_deco {
    position: absolute;
    top: -0.15rem;
    width: 80%;
    left: 10%;
    height: 0.2rem;
    border-radius: 0.3rem;
    background-color: #ffffff;
}

/* .nav_item_selected {
    background-color: #eee;
}


.nav_item_selected img {
    filter: invert(1);
} */

.alt_home_icon {
    scale: 1.3;
    border-radius: 6rem;
    filter: none !important;
}

.container_outer {
    height: auto;
    min-height: 90vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.container {
    display: inline-block;
    text-align: left;
    width: 100%;
    max-width: 50rem;
    height: auto;
    overflow-x: visible;
    padding-bottom: 6rem;
    padding-top: 4.2rem;
    /* border-left: solid 1px var(--border-color);
    border-right: solid 1px var(--border-color); */
}

.search_bar {
    position: fixed;
    z-index: 9;
    display: inline-block;
    text-align: center;
    width: calc(100%);
    top: 0rem;
    left: 0rem;
    text-wrap: nowrap;
    padding: 1rem;
    padding-top: env(titlebar-area-height, 0.2rem);
    padding-bottom: 0.2rem;
    border-bottom: solid 1px var(--border-color);
}

.search_bar input[type="text"] {
    display: inline-block;
    border: none;
    height: 2.5rem;
    width: 35rem;
    max-width: calc(100% - 2rem);
    border-radius: 0.5rem;
    padding-left: 1rem;
    color: var(--text-color);
    font-size: 1rem;
    background-color: transparent;
}

.search_bar input[type="text"]::placeholder {
    color: var(--text-color-alt);
    opacity: 0.6;
}

.search_bar img {
    display: inline-block;
    border: none;
    margin-top: 0.5rem;
    vertical-align: top;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 3rem;
    margin-right: 0.3rem;
    opacity: 0.6;
}

.search_bar img:hover {
    opacity: 1;
}

.page_control {
    position: fixed;
    z-index: 1;
    bottom: 3.5rem;
    left: 50%;
    transform: translate(-50%);
}

.page_control_warp {
    position: relative;
    display: inline-block;
    border-radius: 3rem;
    text-wrap: nowrap;
    border: solid 1px var(--border-color);
}

.page_control_item {
    user-select: none;
    height: 2rem;
    line-height: 2rem;
    font-size: 0.8rem;
    border-radius: 3rem;
    display: inline-block;
    vertical-align: top;
    opacity: 0.7;
}

.page_control_item:hover {
    background-color: var(--border-color);
}

.page_control img {
    height: 2rem;
    width: 2rem;
}

.msg {
    width: calc(100% - 6rem);
    margin-left: 3rem;
    margin-bottom: 2rem;
    font-weight: bolder;
}

@keyframes shiftingGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 0%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.current {
    user-select: all;
    max-width: calc(100% - 2rem);
    margin-left: 1rem;
    background: linear-gradient(to right, rgb(5, 69, 207), rgb(59, 166, 220));
    background-size: 400% 400%;
    animation: shiftingGradient 10s ease infinite;
    border-radius: 0.5rem;
    padding: 0.6rem;
    margin-top: 2rem;
    overflow: auto;
    transition: width height 0.5s ease-in-out;
}

.job {
    user-select: all;
    width: calc(100% - 6rem);
    margin-left: 3rem;
    background-color: #333;
    border-radius: 0.5rem;
    padding: 0.6rem;
    margin-top: 1rem;
    overflow: auto;
}

.hyperlink,
.auto_link {
    color: var(--external-link-color);
}

.tiny_btn {
    position: fixed;
    z-index: 1;
    width: 2rem;
    height: 2rem;
    bottom: 3.5rem;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s;
    border: solid 1px var(--border-color);
}

.tiny_btn img {
    transform: rotate(90deg);
    width: 100%;
    height: 100%;
    opacity: 0.7;
}

.float_card {
    position: fixed;
    display: none;
    z-index: 9;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: left;
    background-color: black;
    touch-action: none;
}

.float_card .card {
    position: fixed;
    bottom: 0;
    margin: 0;
    overflow: visible;
    border-radius: 0;
    border: none;
    width: 100%;
}

#float_card_ui .card {
    background-color: var(--bg-with-alpha) !important;
}

#float_card_media {
    position: fixed;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.video_controls {
    text-wrap: nowrap;
    text-align: center;
    margin-top: -2.5rem;
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
    height: 1rem;
    background: var(--bg-with-alpha);
}

.time_label {
    display: inline-block;
    font-size: 0.8rem;
    opacity: 0.8;
    width: 3rem;
}

#video_seek {
    display: inline-block;
    width: calc(100% - 7rem);
    height: 0.5rem;
    background-color: #ffffff66;
    border-radius: 1rem;
    -webkit-appearance: none;
    appearance: none;
}

#video_seek::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--accent-color);
    border: none;
    height: 1rem;
    width: 1rem;
    border-radius: 0.5rem;
}

#video_seek::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
}

.search_checkboxes {
    user-select: none;
    text-align: center;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #ccc;
    line-height: 1.5rem;
    vertical-align: middle !important;
}

.search_checkboxes input[type="checkbox"] {
    display: inline-block;
    /* margin-right: 0.2rem; */
    scale: 1.1;
}

.flagged {
    position: absolute;
    opacity: 0.5;
    right: 0.5rem;
    bottom: 0.5rem;
}

.flagged img {
    width: 1.5rem;
    height: 1.5rem;
}

.float_btn {
    z-index: 9;
    position: fixed;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 100%;
}

.float_btn:hover {
    cursor: pointer;
}

.float_btn img {
    height: 100%;
    width: 100%;
    opacity: 0.7;
}

.float_btn:hover img {
    opacity: 1;
}

#back_btn {
    left: 1rem;
    top: 1rem;
    background: none !important;
}

#pause_btn {
    position: fixed;
    height: 3rem;
    width: 3rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1.5);
    background-color: var(--bg-with-alpha);
    border-radius: 4rem;
    /* filter: invert(1); */
}

#pause_btn img {
    height: 1.4rem;
    width: 1.4rem;
    margin-left: 0.8rem;
    margin-top: 0.8rem;
    object-fit: contain;
    opacity: 0.7;
}

.alt_home_icon {
    position: absolute;
    left: 0rem;
    top: 0rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}


.bg_blur {
    backdrop-filter: blur(10px);
}

.bbcode {
    margin: 0;
    padding: 0;
}

.bbcode_h5,
.bbcode_h4,
.bbcode_h3,
.bbcode_h2,
.bbcode_h1 {
    width: 100%;
}

.bbcode_center {
    display: block;
    text-align: center;
    width: 100%;
}

.bbcode_right {
    text-align: right;
    width: 100%;
}

.bbcode_img {
    max-width: 100%;
}

.iconusername,
.hashtag {
    color: var(--internal-link-color);
}

.iconusername img {
    max-width: 3rem;
    max-height: 3rem;
}

.notice_card {
    padding: 1rem;
    margin: 0.5rem;
    border: 2px solid var(--border-color);
    border-radius: 1rem;
    line-height: 1.2rem;
}

.interrupt_btn {
    margin-top: 1rem;
    margin-left: 1rem;
}

.search_float {
    position: fixed;
    z-index: 10;
    display: none;
    width: 100%;
    top: 2.9rem;
    bottom: 0;
    left: 0;
    padding: 1rem;
    border-bottom: 1px solid var(--border-color);
    overflow-y: auto;
    transition: opacity 0.2s;
    background-color: #00000099 !important;
}

.search_history {
    /* display: flex;
    flex-direction: column; */
    padding: 0.3rem 1rem;
    width: auto;
    margin-bottom: 0.5rem;
    border: 1px solid var(--border-color);
    border-radius: 0.3rem;
    overflow: hidden;
}

.search_history:hover {

    background-color: var(--bg-with-alpha-hover-light);
}

.search_history_item {
    display: inline-block;
    padding: 0.3rem 0.5rem;
    margin: 0.1rem 0.1rem;
    border: 1px solid var(--border-color);
    color: var(--text-color);
    border-radius: 0.3rem;
    cursor: pointer;
}

.search_history_item:hover {
    background-color: var(--border-color);
}

.search_history_clear {
    float: right;
    text-align: right;
    color: #ffffff88;
    padding: 0.3rem 0.5rem;
    border-radius: 0.3rem;
}

.search_history_clear:hover {
    background-color: var(--border-color);
    cursor: pointer;
}

.external_search_suggestion {
    display: inline-block;
    height: 2rem;
    padding: 0.1rem 0.2rem;
    margin: 0.2rem 0;
    border-radius: 0.2rem;
    /* border: solid 0.1rem #ffffff44; */
}

.external_search_suggestion:hover {
    background-color: #ffffff22 !important;
    cursor: pointer;
}

.inline_icon {
    display: inline-flex;
    width: 1.2rem;
    height: 1.2rem;
    vertical-align: middle;
}

.deco_btn {
    display: inline-block;
    font-size: 0.9rem;
    /* border: 0.08rem solid var(--border-color); */
    border-radius: 1rem;
    padding: 0.4rem 0.6rem;
    vertical-align: middle;
}

.search_q_placeholder {
    font-weight: bold;
    text-decoration: underline;
}

.shorts_decoration {
    position: absolute;
    pointer-events: none;
    bottom: 0;
    right: 0;
    display: inline-block;
    height: 1.2rem;
    width: 1.2rem;
    /* padding: 0.1rem; */
    border-radius: 1rem;
    background-color: #333;
    color: #ff9646;
    overflow: hidden;
    opacity: 0.8;
}

.shorts_decoration img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

hr {
    border-image-source: linear-gradient(to right, transparent, #7d7d7d, transparent);
    border-image-slice: 1;
    border-image-width: 1;
    margin: 0.5rem 0.5rem;
}

.card_highlighted {
    background-color: #00000000 !important;
}

.card_detailed:first-of-type {
    margin-top: 0.6rem !important;
    border-top: none !important;
}

.card_detailed .card_body_text {
    max-height: unset !important;
}

.card_highlighted .card_body_text {
    font-size: 1rem !important;
}

.card_highlighted .card_header_title {
    font-size: 1rem !important;
}

.card_highlighted .card_header_name {
    font-size: 0.9rem !important;
}

.card_highlighted .card_header_date {
    font-size: 0.8rem !important;
}

.highlight_deco {
    display: block;
    font-size: 0.9rem;
    color: #44aeff;
    width: 100%;
    padding: 1rem;
    text-align: center;
}

.highlight_deco .deco_line {
    display: inline-block;
    width: 30%;
    height: 0.1rem;
    border-radius: 1rem;
    background-color: #44aeff;
}

.float_title {
    position: fixed;
    display: flex;
    z-index: 8;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    padding-top: 0.5rem;
    border-bottom: 1px solid var(--border-color);
    align-items: center;
    text-align: left;
    flex-wrap: wrap;
}

.float_title_str {
    display: inline-block;
    font-size: 1.1rem;
    font-weight: bold;
    margin-left: 4.3rem;
    line-height: 0.95rem;
}

.float_title_secondary {
    display: inline-block;
    width: 100%;
    font-size: 0.9rem;
    color: #ffffffaa;
    margin-left: 4.3rem;
    margin-top: -0.7rem;
}

.toggle {
    display: inline-block;
    text-align: center;
    color: #ffffff88;
    height: 1.8rem;
    line-height: 1.7rem;
    min-width: 4rem;
    border: 0.1rem solid #ffffff00;
    border-radius: 2rem;
    font-size: 0.8rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-right: 0.6rem;
    user-select: none;
}

.toggle:hover {
    background-color: var(--bg-with-alpha-hover-light);
}

.toggle_selected {
    background-color: #eee !important;
    border: 0.1rem solid #eee;
    color: #000;
}

.no_result {
    padding: 1rem;
    line-height: 2rem;
}

.context_menu {
    position: absolute;
    z-index: 8;
    /* width: 20rem; */
    background-color: var(--bg-with-alpha);
    padding: 0.5rem;
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
}

.context_item {
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    color: #ffffffbb;
}

.context_item:hover {
    background-color: var(--bg-light);
    cursor: pointer;
}

.context_menu_background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000077;
    z-index: 7;
}

#user_context_menu {
    right: 3.5rem;
    top: 11rem;
}

.setting_items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.setting_item {
    display: block;
    width: 90%;
    margin-bottom: 1rem;
}

.big_btn {
    display: inline-block;
    font-size: 1rem;
    border-radius: 0.5rem !important;
    padding: 0.3rem 0.6rem;
    vertical-align: middle;
    color: #ffffffcc;
    border: 1px solid var(--border-color);
}

.big_btn:hover {
    background-color: #ffffff22 !important;
    cursor: pointer;
}


.glass {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    transition: background-color 0.2s ease;
}

.glass:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

.translucent {
    background-color: var(--bg-with-alpha);
    transition: opacity 0.2s ease;
    /* backdrop-filter: blur(10px); */
}

.translucent:hover {
    background-color: var(--bg-with-alpha-hover-dark);
}

.end_of_media_info {
    display: inline-flex;
    background-color: var(--bg-with-alpha-hover-dark);
    margin-top: 1rem;
    align-items: center;
    text-align: center;
    padding: 0.5rem 1rem;
    color: var(--text-color-alt);
    border-radius: 0.5rem;
    font-size: 0.9rem;
}

/* .alt_txt_btn {
    padding: 0.15rem 0.3rem !important;
} */

.alt_txt_full_btn,
.full_file_size {
    position: absolute;
    z-index: 2;
    padding: 0.15rem 0.3rem;
    bottom: 11rem;
    font-size: 0.7rem;
    border-radius: 0.2rem;
    opacity: 0.7;
}

.full_file_size {
    left: 0.4rem;
}

.alt_txt_full_btn {
    right: 0.4rem;
}

.alt_txt_btn:hover,
.full_file_size:hover {
    opacity: 0.9;
    cursor: pointer;
}

#alt_text {
    user-select: text;
    position: fixed;
    display: none;
    text-align: left;
    z-index: 11;
    padding: 2rem;
    padding-top: 5rem;
    left: 0rem;
    right: 0rem;
    top: 0rem;
    bottom: 0rem;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 1rem;
    line-height: 1.4rem;
    background-color: #000b;
}

#close_alt_btn {
    top: 1rem;
    left: 1rem;
    background: none !important;
}

.reddit_real_user:hover {
    text-decoration: underline;
    color: var(--internal-link-color);
}

#full_hint:hover {
    background-color: var(--bg-with-alpha-hover-light);
}

#logs {
    display: block;
    max-height: 40vh;
    max-width: calc(100% - 2rem);
    margin-left: 1rem;
    overflow-y: auto;
    padding: 0.5rem;
    background-color: var(--bg-with-alpha-hover-light);
    border-radius: 1rem;
    margin-top: 1rem;
    text-align: left;
}

.logs_settings {
    margin-left: 0 !important;
    width: 90% !important;
    max-width: unset !important;
    margin-top: 0rem !important;
    margin-bottom: 1rem !important;
}

.log-entry {
    border-bottom: 1px solid #434343;
    font-size: 0.9rem;
    line-height: 1rem;
    overflow-wrap: break-word;
    word-break: break-all;
    padding: 0.2rem;
}

.log-entry:hover {
    background-color: #111;
}

.info {
    color: #f7f7f7;
}

.warning {
    color: orange;
}

.error {
    color: red;
}

.attention {
    color: rgb(38, 132, 255);
}

#toast_div {
    position: fixed;
    pointer-events: none;
    z-index: 2;
    font-size: 1rem;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    right: 0.5rem;
    bottom: 6rem;
    background-color: var(--accent-color);
    transition: opacity 0.3s ease;
    overflow-wrap: break-word;
    word-break: break-all;
    opacity: 0;
}

.fade-text {
    pointer-events: none;
    -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
}

.view_all_btn {
    user-select: none;
    z-index: 2;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 0.95rem;
    font-weight: bold;
    color: var(--internal-link-color);
    margin-top: -2rem;
    padding: 0.5rem;
    opacity: 0.8;
}

.view_all_btn:hover {
    opacity: 1;
}

.no_user {
    position: fixed;
    display: inline-block;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0.7;
}

.tl_deco {
    position: absolute;
    right: 0.5rem;
    top: 0.2rem;
    width: 1.5rem;
    height: 1.5rem;
}

.tl_deco img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
}

.tl_deco_fav {
    top: 0.3rem;
    right: 0.8rem;
}

.file_size {
    position: absolute;
    left: 0.3rem;
    bottom: 0.3rem;
    font-size: 0.7rem;
    color: #ffffff;
    opacity: 0;
}

.media_wrapper:hover .file_size {
    /* opacity: 0.8; */
}

.card {
    position: relative;
    display: inline-block;
    width: 100%;
    min-height: 5rem;
    padding-top: 0.5rem;
    overflow: visible;
    /* background-color: var(--bg-color); */
    border-top: 1px solid #ffffff22;
    transition: background-color 0.2s;
}

.card:last-of-type {
    border-bottom: 1px solid #ffffff22 !important;
}

.card:hover {
    /* background-color: var(--bg-with-alpha-hover-light); */
}

.card_header {
    text-wrap: nowrap;
    margin-bottom: 0.2rem;
}

.card_header a {
    text-wrap: nowrap;
}

.card_header_img {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #666;
    border-radius: 50%;
    margin: 0.5rem 0.2rem 0.5rem 0.5rem;
    margin-bottom: 0;
}

.header_txt {
    display: inline-block;
    height: 3rem;
    vertical-align: top;
    margin-top: 0.5rem;
    user-select: text;
}

.card_header_title {
    line-height: 1.4rem;
    font-size: 0.9rem;
    /* font-weight: 700; */
    text-wrap: nowrap;
}

.card_header_name,
.card_header_date {
    display: inline-block;
    line-height: 1.2rem;
    font-size: 0.8rem;
    opacity: 0.6;
    text-wrap: nowrap;
}

.card_body {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}

.card_tl .card_body {
    padding-left: 3.4rem;
}

.card_embed .card_body {
    padding-right: 0.8rem;
    padding-left: 0.8rem;
}

.placeholder_card .card_embed {
    margin-top: 0.5rem;
}

.card_body_text {
    color: var(--text-color);
    font-size: 0.9rem;
    line-height: 1.2rem;
    max-height: 20rem;
    overflow-x: hidden;
    overflow-y: hidden;
    user-select: text;
    margin-bottom: 0.8rem;
}

.media_container {
    display: grid;
    gap: 0.08rem;
    /* padding: 0.6rem; */
    max-width: 100%;
    margin-bottom: 0.8rem;
}

.media_wrapper {
    position: relative;
    /* display: inline; */
    min-width: 6rem;
    overflow: hidden;
}

.media_container_one .media_wrapper {
    width: fit-content;
}

.media_container_two,
.media_container_three,
.media_container_four {
    grid-template-columns: 1fr 1fr;
    aspect-ratio: 3/2;
}

.media_container_three .media_wrapper:first-of-type {
    grid-row: span 2;
}

.media_container_many {
    grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
}

.media_container_many .media_wrapper {
    aspect-ratio: 1;
}

.card_media {
    display: block;
    opacity: 0;
    -webkit-user-drag: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.4rem;
    border: 0.05rem solid #9993;
    background-color: #ffffff11;
    overflow: hidden;
    transition: opacity 0.2s ease;
    min-height: 6rem;
}

.media_container_one .card_media {
    width: auto;
    height: auto;
    max-width: 100%;
}

.full_card_media {
    display: inline-block;
    opacity: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: opacity 0.1s;
}

.card_footer {
    user-select: none;
    text-align: center;
    text-wrap: nowrap;
    text-decoration: none;
    margin-top: 0.2rem;
    margin-bottom: 0.3rem;
}

.card_footer_item {
    display: inline-block;
    width: 25%;
    height: 1.2rem;
    align-items: center;
    opacity: 0.5;
}

.card_footer_item:hover {
    opacity: 0.8;
    cursor: pointer;
}

.card_footer_item img {
    display: inline-block;
    height: 1.2rem;
}

.card_footer_item span {
    display: inline-block;
    height: 1.2rem;
    line-height: 1.2rem;
    font-size: 0.7rem;
    vertical-align: top;
}

.card_link {
    position: absolute;
    text-align: center;
    right: 0.6rem;
    top: 0.8rem;
    height: 1.7rem;
    width: 1.7rem;
    border-radius: 3rem;
    border: 1px solid var(--border-color);
}

.card_link:hover {
    background-color: #33333399;
    opacity: 1;
}

.card_link img {
    margin-top: 0.2rem;
    height: 1.3rem;
    width: 1.3rem;
    opacity: 0.5;
}

.view_post {
    right: 2.65rem;
}

.upload_file_btn {
    margin-top: -0.3rem;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
}

.upload_file_btn .inline_icon {
    height: 1rem;
    width: 1rem;
}

.media_viewer {
    position: fixed;
    border: none;
    display: none;
    z-index: 9;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
}

.video_icon {
    position: absolute;
    left: calc(50% - 1.5rem);
    top: calc(50% - 1.5rem);
    height: 3rem;
    width: 3rem;
    border-radius: 4rem;
    background: #000000;
    opacity: 0.6;
}

.video_icon img {
    height: 100%;
    width: 100%;
    margin-left: 3%;
    transform: scale(0.4);
}

.thumb_deco {
    position: absolute;
    bottom: 0.3rem;
    right: 0.2rem;
    padding: 0.1rem 0.2rem;
    font-size: 0.7rem;
    color: #fff;
    border-radius: 0.3rem;
    background: #000000;
    opacity: 0.6;
}

.gif_icon {
    height: 1.5rem;
    width: 1.5rem;
    padding: 0.1rem;
}

.gif_icon img {
    height: 100%;
    width: 100%;
}

.media_toggle {
    width: 100%;
    padding: 0rem 0.5rem 0rem 0.9rem;
    text-align: left;
}

.sep_line {
    display: block;
    height: 1px;
    margin: 0.25rem;
    width: calc(100% - 0.5rem);
    /* border-bottom: 1px solid var(--border-color); */
}

.card_embed {
    display: block;
    position: relative;
    border: 1px solid #ffffff33;
    border-radius: 0.7rem;
    overflow: hidden;
    margin-bottom: 0.8rem;
}

.card_embed:hover {
    border-color: #ffffff55;
}

.card_embed_url {
    display: flex;
    align-items: center;
    height: 2.5rem;
    width: 100%;
    transition: background-color 0.2s;
}

.card_embed_url:hover {
    background-color: #ffffff22;
}

.card_embed_url img {
    display: inline;
    height: 1.5rem;
    width: 1.5rem;
    opacity: 0.4;
    margin: auto;
}

.link_preview {
    padding: 0.5rem 0.7rem;
    padding-bottom: 2rem;
    max-width: 30rem;
    min-height: 8rem;
    background-color: #00000066;
}

.link_preview:hover {
    background-color: #000000aa;
}

.link_preview_thumbnail {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover
}

.link_preview_title {
    font-size: 1.1rem;
    font-weight: bold;
    padding-bottom: 0.5rem;
}

.link_preview_desc {
    font-size: 0.9rem;
}

.link_preview_url {
    position: absolute;
    padding: 0.4rem;
    padding-left: 0.9rem;
    color: #fffa;
    width: calc(100% - 1.4rem);
    bottom: 0;
    font-size: 0.7rem;
    border-top: solid 1px #ffffff33;
    white-space: nowrap;
}

.link_preview_url img {
    position: absolute;
    left: 0;
    height: 0.8rem;
    width: 0.8rem;
    opacity: 0.6;
}

.reply_icon {
    height: 1.3rem;
    width: 1.3rem;
    margin-left: 1rem;
    margin-top: 0.3rem;
    opacity: 0.6;
}

.rdt_title {
    display: block;
    font-size: 1.1rem;
    line-height: 1.3rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.attachment_card {
    display: inline-block;
    position: relative;
    text-align: left;
    padding: 0.7rem 1rem 0.7rem 2.5rem;
}

.attachment_card:hover {
    border-color: #555;
    background-color: #ffffff11;
}

.attachment_icon {
    position: absolute;
    height: 1.6rem;
    width: 1.6rem;
    left: 0.6rem;
    top: 0.5rem;
    opacity: 0.5;
}

.attachment_txt {
    display: inline-block;
    color: #b8b8b8;
    font-size: 0.9rem;
}

.attachment_name {
    overflow-wrap: break-word;
    word-break: break-all;
}

.user_button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 2rem;
    width: calc(100% - 1rem);
    border-radius: 0.5rem;
    margin: 0.5rem 0 0 0.5rem;
    border: 2px solid #ffffff22;
    padding: 0.2rem;
}

.user_button:hover {
    background-color: #33333399;
    cursor: pointer;
}

.user_button img {
    max-width: 100%;
    max-height: 100%;
    margin-right: 0.5rem;
}

.reply_to_deco {
    position: absolute;
    pointer-events: none;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%) scaleY(1.5) scaleX(2.6);
    opacity: 0.5;
    height: 3rem;
    width: 3rem;
}

.reply_to_deco_side {
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 0;
    width: 0.25rem;
    height: 100%;
    background-color: var(--accent-color);
    opacity: 0.7;
    /* z-index: -1; */
}

.timeline_toggle_bar {
    position: relative;
    display: block;
    width: 100%;
}

.sort_toggle {
    position: absolute;
    display: inline-block;
    right: 2.5rem;
    top: 0;
    height: 1.8rem;
    padding-right: 0.6rem;
    text-align: center;
    /* appearance: none; */
    background: none;
    border: none;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    color: #ffffff88;
    border: 1px solid var(--border-color);
}

.sort_toggle:hover {
    cursor: pointer;
    background-color: #ffffff22;
}

.sort_toggle option {
    background-color: var(--bg-color);
    color: #ffffff88;
    border: none;
}

.select_deco {
    position: absolute;
    right: 0.7rem;
    top: 0.45rem;
    height: 1rem;
    width: 1rem;
    pointer-events: none;
    opacity: 0.6;
}


.audio_fn {
    display: block;
    padding: 0.3rem;
    border-radius: 0.4rem;
    /* width: 100%; */
    max-width: 30rem;
    font-size: 0.9rem;
    background-color: #ffffff33;
    overflow-wrap: break-word;
    word-break: break-all;
    opacity: 0.8;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

audio {
    max-width: 100%;
    height: 3rem;
}

.user_header_full {
    position: relative;
    /* padding: 0.3rem; */
    margin-bottom: 0.6rem;
    /* border-bottom: 1px solid #ffffff22; */
}

.user_header_banner {
    width: 100%;
    height: 8rem;
    object-fit: cover;
    /* border-radius: 0.5rem 0.5rem 0 0; */
}

.user_header_img {
    height: 6rem;
    width: 6rem;
    margin-left: 1rem;
    margin-top: -3rem;
    border-radius: 6rem;
    border: #00000066 0.2rem solid;
    /* background-color: var(--bg-color); */
}

.user_header {
    position: relative;
    margin-top: -0.4rem;
    /* padding-bottom: 1rem; */
}

.user_header_title {
    user-select: all;
    font-size: larger;
}

.user_header_date {
    font-size: smaller;
    opacity: 0.7;
}

.user_header_txt {
    margin-left: 1rem;
}

.user_body_text {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    max-height: 40vh;
    user-select: text;
    overflow: hidden;
}

.user_header_button {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 3rem;
    /* background-color: var(--bg-with-alpha); */
}

.user_header_button:hover {
    background-color: var(--bg-with-alpha-hover-light) !important;
    opacity: 1;
}

.user_header_button img {
    opacity: 0.7;
    margin-left: 0.55rem;
    margin-top: 0.55rem;
    height: 1.4rem;
    width: 1.4rem;
}

.user_header_update_time {
    position: absolute;
    top: 0.78rem;
    right: 6.3rem;
    font-size: 0.7rem;
    color: #aaa;
    margin-left: 1rem;
    margin-top: 0.5rem;
}

#background_banner {
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(6px) brightness(0.2);
    scale: 1.1;
}

.users {
    width: 100%;
    padding-right: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    text-align: center;
    gap: 0.5rem;
}

.user_card {
    position: relative;
    display: inline-block;
    text-align: left;
    background-color: #00000099;
    color: #fff;
    text-decoration: none;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    margin: 0.5rem;
    margin-bottom: 1rem;
    overflow: hidden;
}

.user_card:hover {
    background-color: #00000066;
}

.user_banner {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
}

.user_card_header_txt {
    display: inline-block;
    width: calc(100% - 7rem);
    height: 3rem;
    /* background-color: yellow; */
    vertical-align: top;
    margin-top: 1rem;
}

.user_card_header_img {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-color: var(--bg-color);
    border-radius: 50%;
    margin: 1rem 0.3rem 1rem 1rem;
    margin-bottom: 0;
}

.user_card_header_title {
    line-height: 1.8rem;
    text-wrap: nowrap;
}

.user_card_header_date {
    line-height: 1.2rem;
    font-size: smaller;
    color: #aaa;
    text-wrap: nowrap;
}

.user_card_body_text {
    margin: 1rem;
    height: 3rem;
    overflow: hidden;
    font-size: 0.9rem;
}

.user_card_update_time {
    position: absolute;
    font-size: 0.75rem;
    /* font-weight: bold; */
    color: #ffffffaa;
    text-wrap: nowrap;
    margin-left: 1rem;
    margin-bottom: 0.4rem;
    text-shadow: 0rem 0rem 0.1rem #00000099;
    bottom: 0.5rem;
}

.user_card_media {
    display: inline-block;
    width: 100%;
    height: auto;
    background-color: blue;
    overflow: hidden;
}

.user_select_toggle {
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    border: 0.2rem solid #ffffffaa;
    background-color: #ffffff;
    top: 0.5rem;
    right: 0.5rem;
    opacity: 0.5;
    /* display: none; */
}

.user_select_toggle:hover {
    opacity: 0.8;
}

.user_select_toggle_active {
    background-color: #268bff;
    opacity: 0.8;
}

#group_btn {
    display: none;
    position: fixed;
    z-index: 9;
    right: -0.5rem;
    bottom: 6rem;
    transform: scale(0.8);
}

.card_group {
    display: block;
    position: relative;
    margin-bottom: 2rem;
    border: 1px solid #ffffff33;
    border-radius: 1rem;
    padding: 2.5rem 0.5rem 1.5rem 0.5rem;
    margin: 1rem;
}

.card_group_header {
    position: absolute;
    top: 0.7rem;
    left: 1.2rem;
    font-size: 1.1rem;
    opacity: 0.9;
}

.ungroup_btn {
    position: absolute;
    right: 0.5rem;
    top: 0.3rem;
    transform: scale(0.8);
}

.user_header_extra {
    margin-top: 0.5rem;
    padding-left: 0.7rem;
}

.user_header_extra a {
    color: var(--external-link-color) !important;
}

.extra_item {
    user-select: text;
    display: inline-flex;
    align-items: center;
    font-size: 0.9rem;
    border-radius: 0.5rem;
    padding: 0 0.2rem;
    color: #ffffffaa;
}

.extra_item:hover {
    background-color: #ffffff11;
}

.extra_item img {
    height: 1.2rem;
    width: 1.2rem;
    opacity: 0.4;
    margin-right: 0.1rem;
}

.reply_deco {
    position: absolute;
    opacity: 0.2;
    top: 0.3rem;
    left: 1.8rem;
    background-color: var(--border-color);
    border-radius: 3px;
    width: 0.15rem;
    transform: translate(-50%, -100%);
    transition: opacity 0.2s ease;
}

.post_reply {
    border-top: none !important;
}