.card {
    position: relative;
    display: inline-block;
    width: 100%;
    min-height: 5rem;
    padding-top: 0.5rem;
    overflow: visible;
    /* background-color: var(--bg-color); */
    border-top: 1px solid #ffffff22;
    transition: background-color 0.2s;
}

.card:hover {
    background-color: var(--bg-with-alpha-hover-light);
}

.card_header {
    text-wrap: nowrap;
}

.card_header a {
    text-wrap: nowrap;
}

.card_header_img {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #666;
    border-radius: 50%;
    margin: 0.5rem 0.2rem 0.5rem 0.5rem;
    margin-bottom: 0;
}

.header_txt {
    display: inline-block;
    height: 3rem;
    vertical-align: top;
    margin-top: 0.5rem;
    user-select: text;
}

.card_header_title {
    line-height: 1.4rem;
    font-size: 0.9rem;
    /* font-weight: 700; */
    text-wrap: nowrap;
}

.card_header_name,
.card_header_date {
    display: inline-block;
    line-height: 1.2rem;
    font-size: 0.8rem;
    opacity: 0.6;
    text-wrap: nowrap;
}

.card_body_text {
    padding: 0.2rem 0.9rem 0.4rem 0.9rem;
    color: #eee;
    font-size: 0.9rem;
    line-height: 1.2rem;
    /* font-weight: lighter; */
    max-height: 20rem;
    overflow-y: hidden;
    user-select: text;
}

.card_media_container {
    display: flex;
    flex-wrap: wrap;
    padding: 0.6rem;
    width: calc(100% - 0.2rem);
    min-height: 4rem;
}

.card_media_container a {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    margin-left: 0.1rem;
    margin-bottom: 0.1rem;
}

.card_media_container_one {
    justify-content: left;
}

.card_media_container_one a {
    max-width: 100%;
}

.card_media_container_one .card_media {
    max-height: 40rem;
    width: auto;
    min-width: 10rem;
    max-width: 100%;
}

.card_media_container_two {
    max-width: 50rem;
}

.card_media_container_two a {
    width: calc(50% - 0.15rem);
    min-height: 8rem;
    height: auto;
    max-height: 70vh;
}

.card_media_container_three {
    max-width: 50rem;
    position: relative;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    aspect-ratio: 5 / 3;
}

.card_media_container_three a {
    position: absolute;
}

.card_media_container_three a:nth-child(1) {
    left: 0.6rem;
    top: 0;
    width: calc(50% - 0.7rem);
    height: 100%;
}

.card_media_container_three a:nth-child(2) {
    right: 0.6rem;
    top: 0;
    width: calc(50% - 0.7rem);
    height: calc(50% - 0.05rem);
}

.card_media_container_three a:nth-child(3) {
    right: 0.6rem;
    top: calc(50% + 0.05rem);
    width: calc(50% - 0.7rem);
    height: calc(50% - 0.05rem);
}

.card_media_container_four {
    max-width: 50rem;
    aspect-ratio: 3 / 2;
}

.card_media_container_four a {
    width: calc(50% - 0.15rem);
    max-height: calc(50% - 0.05rem);
}

.card_media_container_many {
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.1rem;
}

.card_media_container_many a {
    width: 100%;
    aspect-ratio: 1;
}

.card_media_container_many .card_media {
    position: absolute;
    margin: 0;
}

.card_media {
    -webkit-user-drag: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.4rem;
    border: 0.05rem solid #222;
    background-color: #ffffff11;
    overflow: hidden;
}

.full_card_media {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card_footer {
    user-select: none;
    text-align: center;
    text-wrap: nowrap;
    text-decoration: none;
    margin-top: 0.2rem;
    margin-bottom: 0.3rem;
}

.card_footer_item {
    display: inline-block;
    width: 25%;
    height: 1.2rem;
    align-items: center;
    opacity: 0.5;
}

.card_footer_item:hover {
    opacity: 0.8;
    cursor: pointer;
}

.card_footer_item img {
    display: inline-block;
    height: 1.2rem;
}

.card_footer_item span {
    display: inline-block;
    height: 1.2rem;
    line-height: 1.2rem;
    font-size: 0.7rem;
    vertical-align: top;
}

.card_link {
    position: absolute;
    text-align: center;
    right: 0.6rem;
    top: 0.6rem;
    height: 2rem;
    width: 2rem;
    border-radius: 3rem;
    opacity: 0.7;
    border: 1px solid #ffffff22;
}

.card_link:hover {
    background-color: #33333399;
    opacity: 1;
}

.card_link img {
    margin-top: 0.25rem;
    height: 1.5rem;
    width: 1.5rem;
}

.view_post {
    right: 3rem;
}

/* 
.view_post img {
    scale: 0.8;
} */

.media_viewer {
    position: fixed;
    border: none;
    display: none;
    z-index: 9;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
}

.video_icon {
    position: absolute;
    left: calc(50% - 1.5rem);
    top: calc(50% - 1.5rem);
    height: 3rem;
    width: 3rem;
    background: #fff;
    border-radius: 4rem;
    opacity: 0.5;
}

.video_icon img {
    height: 3rem;
    width: 3rem;
    transform: scale(1.5);
}

.gif_icon {
    position: absolute;
    bottom: 0.2rem;
    right: 0.2rem;
    height: 1.5rem;
    width: 1.5rem;
    background: #00000099;
    border-radius: 0.3rem;
}

.gif_icon img {
    height: 100%;
    width: 100%;
    opacity: 0.7;
}

.media_toggle {
    width: 100%;
    padding-left: 0.8rem;
    text-align: left;
    margin-bottom: 0.5rem;
    margin-top: 0.3rem;
}

.card_embed {
    display: block;
    position: relative;
    border: 1px solid #ffffff33;
    border-radius: 0.7rem;
    margin: 0.4rem;
    overflow: hidden;
}

.card_embed:hover {
    border-color: #ffffff55;
}

.card_embed_url {
    display: inline-block;
    text-align: center;
    height: 3rem;
    width: 100%;
    transition: background-color 0.2s;
}

.card_embed_url:hover {
    background-color: #ffffff22;
}

.card_embed_url img {
    display: inline-block;
    height: 2rem;
    width: 3rem;
    margin-top: 0.5rem;
    opacity: 0.5;
}

.link_preview {
    display: inline-block !important;
    padding: 0.5rem 0.7rem;
    padding-bottom: 2rem;
    margin-left: 0.7rem;
    width: 30rem;
    max-width: calc(100% - 1.4rem - 2px);
    min-height: 8rem;
    background-color: #00000066;
}

.link_preview:hover {
    background-color: #000000aa;
}

.link_preview_thumbnail {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover
}

.link_preview_title {
    font-size: 1.1rem;
    font-weight: bold;
    padding-bottom: 0.5rem;
}

.link_preview_desc {
    font-size: 0.9rem;
}

.link_preview_url {
    position: absolute;
    padding: 0.4rem;
    padding-left: 0.9rem;
    color: #fffa;
    width: calc(100% - 1.4rem);
    bottom: 0;
    font-size: 0.7rem;
    border-top: solid 1px #ffffff33;
    white-space: nowrap;
}

.link_preview_url img {
    position: absolute;
    left: 0;
    height: 0.8rem;
    width: 0.8rem;
    opacity: 0.6;
}

.reply_icon {
    height: 1.3rem;
    width: 1.3rem;
    margin-left: 1rem;
    margin-top: 0.3rem;
    opacity: 0.6;
}

.rdt_title {
    display: block;
    font-size: 1.1rem;
    line-height: 1.3rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.attachment_card {
    text-align: left;
    padding: 0.5rem 1rem 0.1rem 1rem;
    border-radius: 1rem;
    overflow-y: hidden;
    overflow-x: auto;
    border: 0.02rem solid #333;
    white-space: nowrap;
}

.attachment_icon {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    opacity: 0.6;
}

.attachment_txt {
    display: inline-block;
    color: #b8b8b8;
    font-size: 0.9rem;
    line-height: 2rem;
    vertical-align: top;
    margin-left: 0.5rem;
}

.user_button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 2rem;
    width: calc(100% - 1rem);
    border-radius: 0.5rem;
    margin: 0.5rem 0 0 0.5rem;
    border: 2px solid #ffffff22;
    padding: 0.2rem;
}

.user_button:hover {
    background-color: #33333399;
    cursor: pointer;
}

.user_button img {
    max-width: 100%;
    max-height: 100%;
    margin-right: 0.5rem;
}

.reply_to_deco {
    position: absolute;
    pointer-events: none;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%) scaleY(1.5) scaleX(2.6);
    opacity: 0.5;
    height: 3rem;
    width: 3rem;
}

.reply_to_deco_side {
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 0;
    width: 0.25rem;
    height: 100%;
    background-color: var(--accent-color);
    opacity: 0.7;
    /* z-index: -1; */
}

.placeholder_card {
    text-align: center;
    color: #ffffff88;
    background-color: #22222255;
}

.timeline_toggle_bar {
    position: relative;
    display: block;
    width: 100%;
}

#sort_type {
    position: absolute;
    display: inline-block;
    right: 0.5rem;
    top: 0;
    height: 1.8rem;
    width: 4.7rem;
    /* padding-left: 0.5rem; */
    padding-right: 0.6rem;
    text-align: center;
    appearance: none;
    background: none;
    border: none;
    border-radius: 2rem;
    font-size: 0.8rem;
    color: #ffffff88;
}

#sort_type:hover {
    cursor: pointer;
    background-color: #ffffff22;
}

#sort_type option {
    background-color: var(--bg-color);
    color: #ffffff88;
    border: none;
}

.select_deco {
    position: absolute;
    right: 0.7rem;
    top: 0.45rem;
    height: 1rem;
    width: 1rem;
    pointer-events: none;
    opacity: 0.6;
}