.user_header_full {
    position: relative;
    /* padding: 0.3rem; */
    margin-bottom: 0.6rem;
    /* border-bottom: 1px solid #ffffff22; */
}

.user_header_banner {
    width: 100%;
    height: 8rem;
    object-fit: cover;
    /* border-radius: 0.5rem 0.5rem 0 0; */
}

.user_header_img {
    height: 6rem;
    width: 6rem;
    margin-left: 1rem;
    margin-top: -3rem;
    border-radius: 6rem;
    border: var(--bg-color) 0.3rem solid;
    background-color: var(--bg-color);
}

.user_header {
    position: relative;
    margin-top: -0.4rem;
    /* padding-bottom: 1rem; */
}

.user_header_title {
    user-select: all;
    font-size: larger;
}

.user_header_date {
    font-size: smaller;
    opacity: 0.7;
}

.user_header_txt {
    margin-left: 1rem;
}

.user_body_text {
    padding: 1rem;
    font-size: 0.9rem;
    max-height: 40vh;
    user-select: text;
    overflow: auto;
}

.user_header_button {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 3rem;
    background-color: var(--bg-color);
}

.user_header_button:hover {
    background-color: #33333399 !important;
    opacity: 1;
}

.user_header_button img {
    opacity: 0.7;
    margin-left: 0.55rem;
    margin-top: 0.55rem;
    height: 1.4rem;
    width: 1.4rem;
}

.user_header_update_time {
    position: absolute;
    top: 0.78rem;
    right: 6.3rem;
    font-size: 0.7rem;
    color: #aaa;
    margin-left: 1rem;
    margin-top: 0.5rem;
}