.users {
    width: 100%;
    padding-right: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    text-align: center;
    gap: 0.5rem;
}

.user_card {
    position: relative;
    display: inline-block;
    text-align: left;
    background-color: #00000099;
    color: #fff;
    text-decoration: none;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    margin: 0.5rem;
    margin-bottom: 1rem;
    overflow: hidden;
}

.user_card:hover {
    background-color: #00000066;
}

.user_banner {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
}

.user_card_header_txt {
    display: inline-block;
    width: calc(100% - 7rem);
    height: 3rem;
    /* background-color: yellow; */
    vertical-align: top;
    margin-top: 1rem;
}

.user_card_header_img {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-color: var(--bg-color);
    border-radius: 50%;
    margin: 1rem 0.3rem 1rem 1rem;
    margin-bottom: 0;
}

.user_card_header_title {
    line-height: 1.8rem;
    text-wrap: nowrap;
}

.user_card_header_date {
    line-height: 1.2rem;
    font-size: smaller;
    color: #aaa;
    text-wrap: nowrap;
}

.user_card_body_text {
    margin: 1rem;
    height: 3rem;
    overflow: hidden;
    font-size: 0.9rem;
}

.user_card_update_time {
    position: absolute;
    font-size: 0.75rem;
    /* font-weight: bold; */
    color: #ffffffaa;
    text-wrap: nowrap;
    margin-left: 1rem;
    margin-bottom: 0.4rem;
    text-shadow: 0rem 0rem 0.1rem #00000099;
    bottom: 0.5rem;
}

.user_card_media {
    display: inline-block;
    width: 100%;
    height: auto;
    background-color: blue;
    overflow: hidden;
}

.user_select_toggle {
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    border: 0.2rem solid #ffffffaa;
    background-color: #ffffff;
    top: 0.5rem;
    right: 0.5rem;
    opacity: 0.5;
    /* display: none; */
}

.user_select_toggle:hover {
    opacity: 0.8;
}

.user_select_toggle_active {
    background-color: #268bff;
    opacity: 0.8;
}

#group_btn {
    display: none;
    position: fixed;
    z-index: 9;
    right: 0;
    top: 4.2em;
    transform: scale(0.8);
}

.card_group {
    display: block;
    position: relative;
    margin-bottom: 2rem;
    border: 1px solid #ffffff33;
    border-radius: 1rem;
    padding: 2.5rem 0.5rem 1.5rem 0.5rem;
    margin: 1rem;
}

.card_group_header {
    position: absolute;
    top: 0.7rem;
    left: 1.2rem;
    font-size: 1.1rem;
    opacity: 0.9;
}

.ungroup_btn {
    position: absolute;
    right: 0.5rem;
    top: 0.3rem;
    transform: scale(0.8);
}