{% if _banner_url %}
<img src="{{_banner_url}}" id="background_banner" />
{% endif %}

{% if not post_found %}
<div class="no_result">
    This post is not in database...<br>
    Click the button below to try to go to the original post<br>
    <a class="toggle toggle_selected" href="{{sorted_posts[0].url}}" target="_blank">Original Post</a>
</div>
{% else %}

<div class="post_group">
    <!-- there should be only one post_group -->
    {% for post in post_groups[0] %}
    {% set user = post.user %}
    {% include 'card.html' %}
    {% endfor %}
</div>


{% endif %}
<script>
    window.addEventListener('load', function () {
        focusHighlighted();
        document.querySelectorAll('.post_group').forEach(el => {
            offscreen_observer.observe(el);
            height_observer.observe(el);
        });
    });
</script>