{% if _banner_url %}
<img src="{{_banner_url}}" id="background_banner" />
{% endif %}

{% if not post_found %}
<div class="no_result">
    This post is not in database...<br>
    Click the button below to try to go to the original post<br>
    <a class="toggle toggle_selected" href="{{sorted_posts[0].url}}" target="_blank">Original Post</a>
</div>
{% else %}
{% for post_id in sorted_posts_ids %}
{% set post = posts[post_id] %}
{% set user = users[post.user_name] %}
{% include 'card.html' %}
{% endfor %}
{% endif %}