<div class="search_bar translucent">
    <input type="text" name="q" placeholder="url" id="url_input" onkeydown="searchbar_on_enter(event,()=>{url_input()})"
        autocomplete="off" />
    <img src="{{url_base}}/img/right.svg" onclick="url_input()" />
</div>
<div class="search_checkboxes">
    <button id="paste_from_clipboard" class="big_btn translucent" onclick="paste_from_clipboard()">Paste from
        Clipboard</button>
    <br>
    <input type="checkbox" id="full" name="full" value="full" style="border-radius: 1rem;">
    <label for="full">full <span style="font-size: 0.6rem; color: #aaa;">(don't stop even when exsisting posts
            encoutered)</span></label>
    <br>
    <input type="checkbox" id="media_only" name="media_only" value="media_only">
    <label for="media_only">media only</label>
</div>

<div class="msg" id="msg">
</div>
<div class="current" id="current">
</div>
<div class="interrupt_btn big_btn translucent" onclick="interrupt_download()">Interrupt Download</div>
<div class="queue" id="queue">
</div>
<div id="logs"></div>

<script>
    setTimeout(() => {
        add_job("", 0, 0)
    }, 500)
    setInterval(() => {
        add_job("", 0, 0)
    }, 2000);

    setTimeout(() => {
        update_logs(20, true)
    }, 500)
    setInterval(() => {
        update_logs(20, false)
    }, 2000)
</script>
<script src="{{url_base}}/js/noreferer.js"></script>