<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="manifest" href="{{url_base}}/mt.webmanifest" crossorigin="use-credentials">
    <meta name="msapplication-TileColor" content="rgb(0,0,0)">
    <meta name="theme-color" content="rgb(0,0,0)">
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#000000">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="{{url_base}}/css/colors.css" />
    <link rel="stylesheet" href="{{url_base}}/css/style.css" />
    <link rel="stylesheet" href="{{url_base}}/css/frame.css" />
    <link rel="stylesheet" href="{{url_base}}/css/landscape_frame.css" id="landscape_frame_style" disabled />
    <style>
        .iframe_container_bg {
            position: absolute;
            pointer-events: none;
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url("{{url_base}}/img/disable.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 2rem 2rem;
            opacity: 0.2;
        }
    </style>
</head>

<body>
    <div id="viewport">
        <div class="iframe_container" id="window1">
            <div class="iframe_container_bg" id="iframe_container_bg1"></div>
            <iframe class="iframe_content" id="window1_if" src=""></iframe>
            <div class="close_window_btn" onclick="close_window(1)">
                <img src="{{url_base}}/img/cross.svg" />
            </div>
            <div class="drag_decoration"></div>
        </div>
        <div class="iframe_container" id="window2">
            <div class="iframe_container_bg" id="iframe_container_bg2"></div>
            <iframe class="iframe_content" id="window2_if" src=""></iframe>
            <div class="close_window_btn" onclick="close_window(2)">
                <img src="{{url_base}}/img/cross.svg" />
            </div>
            <div class="drag_decoration"></div>
        </div>
        <div id="divider"></div>
    </div>
    <div id="loading_icon">
        <div class="loader"></div>
    </div>
    <div class="drag_area"></div>
    <div id="navigation" class="nav translucent">
        <div class="nav_item_warp">
            <a class="nav_item" href="{{url_base}}/userlist" onclick="go_userlist()"
                draggable=true>
                <img src="{{url_base}}/img/home.svg" />
                <!-- <div class="nav_item_deco"></div> -->
            </a>
            <a class="nav_item" href="{{url_base}}/tl" onclick="go_tl()">
                <img src="{{url_base}}/img/timeline.svg" />
                <!-- <div class="nav_item_deco"></div> -->
            </a>

            <a class="nav_item" href="{{url_base}}/fav" onclick="show_content('{{url_base}}/fav',2)">
                <img src="{{url_base}}/img/bookmark_empty.svg" />
                <!-- <div class="nav_item_deco"></div> -->
            </a>

            <a class="nav_item" href="{{url_base}}/shorts?q={{shorts_q}}"
                onclick="show_content('{{url_base}}/shorts?q={{shorts_q}}',2)" style="overflow: visible;">
                <img src="{{url_base}}/img/video.svg" style="transform: scale(1.1);" />
            </a>

            <a class="nav_item" href="{{url_base}}/download" onclick="show_content('{{url_base}}/download',1)">
                <img src="{{url_base}}/img/dl.svg" />
                <!-- <div class="nav_item_deco"></div> -->
            </a>
            <a class="nav_item" href="{{url_base}}/settings" onclick="show_content('{{url_base}}/settings',1)">
                <img src="{{url_base}}/img/gear.svg" />
                <!-- <div class="nav_item_deco"></div> -->
            </a>
            <a class="nav_item" onclick="enter_fullscreen()" id="frame_full_btn">
                <img src="{{url_base}}/img/full.svg">
            </a>
        </div>
    </div>
    <script>
        const url_base = "{{url_base}}";
    </script>
    <script src="{{url_base}}/js/frame.js"></script>
</body>

</html>