<!DOCTYPE html>
<html>

<head>
    <title>Logs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel="stylesheet" href="{{url_base}}/css/style.css" />
    <style>
        body {
            background-color: #000;
            color: var(--text-color);
        }

        #live {
            position: fixed;
            bottom: 0.5rem;
            right: 1rem;
            font-size: 0.9rem;
        }

        #logs {
            user-select: text;
            height: auto;
            max-height: calc(100vh - 4rem);
            text-align: left;
        }
    </style>
</head>

<body>
    <div id="logs">
    </div>
    <div id="live" class="big_btn">
        <input type="radio" id="live_update" name="live_update" onclick="toggle_live()">
        <label for="live_update">Auto Reload</label>
    </div>
    <script>
        var url_base = "{{url_base}}";
    </script>
    </script>
    <script src="{{url_base}}/js/logs.js"></script>
    <script>
        setTimeout(() => {
            update_logs(200, true)
        }, 500);
        setInterval(() => {
            if (live_update_checkbox.checked)
                update_logs(200, false);
        }, 2000);
        live_update = live_update_checkbox.checked;
    </script>
</body>

</html>