<div class="timeline_toggle_bar">
    {% if section != "fav" %}
    <select name="sort_toggle" class="sort_toggle" {%if section=='user'%}style="right:0.5rem"{%endif%} 
        onchange="location.href='{{page_url}}?tab=media&sort_type='+this.value{%if q%}+'&q={{q}}'{% endif %};show_loading_icon();"
        tabindex="-1">
        <option value="new" {% if sort_type=="new" %}selected{% endif %}>New</option>
        <option value="top" {% if sort_type=="top" %}selected{% endif %}>Top</option>
        {% if section == "tl" %}
        <option value="random" {% if sort_type=="random" %}selected{% endif %}>Random</option>
        {% endif %}
    </select>
    <!-- <img src="{{url_base}}/img/down.svg" class="select_deco"> -->
    {% endif %}

    {% if section=='tl' %}
    <div class="tl_deco"><img src="{{url_base}}/img/timeline.svg" /></div>
    {% elif section=='fav' %}
    <div class="tl_deco tl_deco_fav"><img src="{{url_base}}/img/bookmark_empty.svg" /></div>
    {% endif %}

    <div class="media_toggle">
        <a class="toggle"
            href="{{page_url}}?tab=posts&sort_type={{sort_type}}{%if q%}&q={{q}}{% endif %}{%if p%}&p={{p}}{% endif %}">Posts</a>
        <a class="toggle toggle_selected"
            href="{{page_url}}?tab=media&sort_type={{sort_type}}{%if q%}&q={{q}}{% endif %}{%if p%}&p={{p}}{% endif %}">Media</a>
        {% if user_name %}
        <!-- <a class="toggle" href="{{url_base}}/shorts?uid={{user_name}}@{{type}}">Videos</a> -->
        {% endif %}
    </div>
</div>
<div class="sep_line"></div>
<div class="media_container media_container_many">
    {% set media_cnt = namespace(value=0) %}
    {% for post_id in sorted_posts_ids %}
    {% set post = posts[post_id] %}
    {% set media_cnt_per_post = namespace(value=0) %}
    {% for media in post.medias %}
    {% if media.isvideo or media.isimage or media.isaudio %}
    <a class="media_wrapper" href='{{url_base}}/post/{{post.type}}/{{post.user_name}}/{{post.post_id}}'
        onclick="show_float_card(event,'{{url_base}}/fullscreen_card/{{post.type}}/{{post.user_name}}/{{post.post_id}}?idx={{media_cnt_per_post.value}}')">
        <img class="card_media"
            src="{{url_base}}/thumb/{{media.type}}/{{media.user_name}}/thumb_{{quote(media.file_name)}}" loading="lazy"
            onload="img_loaded(this)" />
        {% if media.isvideo or media.isaudio %}
        <div class="video_icon">
            <img src="{{url_base}}/img/play_w.svg" />
        </div>
        <div class="thumb_deco">
            {{media.duration_str}}
        </div>
        {% endif %}
        {% if media.file_name.endswith('.gif') %}
        <div class="gif_icon thumb_deco">
            <img src="{{url_base}}/img/gif.svg" />
        </div>
        {% endif %}
        {% set media_cnt_per_post.value = media_cnt_per_post.value + 1 %}
    </a>
    {% elif media.isflash %}
    <a class="media_wrapper" href='{{url_base}}/ruffle/{{media.type}}/{{media.user_name}}/{{media.file_name}}'>
        <img class="card_media" src="{{url_base}}/thumb/{{media.type}}/{{media.user_name}}/{{media.file_name}}"
            loading="lazy" onload="img_loaded(this)" />
        <div class="video_icon" style="background: none; scale: 2;">
            <img src="{{url_base}}/img/flash.svg" onload="img_loaded(this)" />
        </div>
    </a>
    {% endif %}
    {% set media_cnt.value = media_cnt.value + 1 %}
    {% endfor %}
    {% endfor %}
</div>

<div class="end_of_media_info">
    {{ media_cnt.value }} medias in this page.
</div>

<script src="{{url_base}}/js/noreferer.js"></script>