<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="{{url_base}}/css/colors.css" />
    <link rel="stylesheet" href="{{url_base}}/css/style.css" />
    <link rel="stylesheet" id="landscape_style" href="{{url_base}}/css/landscape.css" disabled />
    <link rel="manifest" href="{{url_base}}/mt.webmanifest" crossorigin="use-credentials">
    <meta name="mobile-web-app-capable" content="yes">
    <meta http-equiv="Content-Security-Policy"
        content="script-src 'self' 'unsafe-inline' 'unsafe-eval' 'wasm-unsafe-eval'; object-src 'self'; style-src 'self' 'unsafe-inline'; img-src 'self' data:;">
</head>

<body>
    <script src="{{url_base}}/js/landscape.js"></script>
    <script src="{{url_base}}/js/script_preload.js"></script>
    <div class="nav translucent" style="display: none;">
        <div class="nav_item_warp">
            <a class="nav_item" href="{{url_base}}/userlist">
                <img src="{{url_base}}/img/home.svg" />
                {% if section=='user' %}
                <div class="nav_item_deco"></div>
                {% endif %}
            </a>
            <a class="nav_item" href="{{url_base}}/tl">
                <img src="{{url_base}}/img/timeline.svg" />
                {% if section=='tl' %}
                <div class="nav_item_deco"></div>
                {% endif %}
            </a>

            <a class="nav_item" href="{{url_base}}/fav">
                <img src="{{url_base}}/img/bookmark_empty.svg" />
                {% if section=='fav' %}
                <div class="nav_item_deco"></div>
                {% endif %}
            </a>

            <a class="nav_item" href="{{url_base}}/shorts?q={{shorts_q}}" onclick="show_loading_icon()"
                style="overflow: visible;">
                <img src="{{url_base}}/img/video.svg" style="transform: scale(1.1);" />
                {% if shorts_icon or shorts_decoration %}
                <div class="shorts_decoration">
                    {% if shorts_icon %}
                    <img src="{{shorts_icon}}" />
                    {% elif shorts_decoration %}
                    <span>{{shorts_decoration}}</span>
                    {% endif %}
                </div>
                {% endif %}
            </a>

            <a class="nav_item" href="{{url_base}}/download">
                <img src="{{url_base}}/img/dl.svg" />
                {% if section=='download' %}
                <div class="nav_item_deco"></div>
                {% endif %}
            </a>
            <a class="nav_item" href="{{url_base}}/settings">
                <img src="{{url_base}}/img/gear.svg" />
                {% if section=='settings' %}
                <div class="nav_item_deco"></div>
                {% endif %}
            </a>
        </div>
    </div>
    <div class="page_control" id="page_control">
        {% if current_page > 1 %}
        <div class="page_control_warp translucent" style="margin-left: -2.25rem;">
            <div class="page_control_item" onclick="go_page(1)">
                <img src="{{url_base}}/img/home2.svg" style="transform: scale(0.6);" />
            </div>
        </div>
        {% endif %}
        <div class="page_control_warp translucent">
            <div class="page_control_item" id="btn_prev" onclick="prev_page()">
                <img src="{{url_base}}/img/left.svg" />
            </div>
            <div class="page_control_item" id="page_text" onclick="go_page()">
                <span style="font-size: 0.9rem;">{{ current_page }}</span> / <span style="font-size: 0.7rem;"> {{
                    max_page }} </span>
            </div>
            <div class="page_control_item" id="btn_next" onclick="next_page()">
                <img src="{{url_base}}/img/right.svg" />
            </div>
        </div>
    </div>
    <button class="tiny_btn translucent" onclick="scrollToTop()" style="right: 0.5rem;">
        <img src="{{url_base}}/img/left.svg" />
    </button>

    {% if show_back_btn %}
    <a id="back_btn" class="float_btn" onclick="window.history.back(); return false;">
        <img src="{{url_base}}/img/left.svg" style="transform: scale(0.8);">
    </a>
    {% endif %}
    {% if title_str %}
    <div class="float_title translucent">
        <span class="float_title_str">{{ title_str }}</span>
        {% if title_secondary_str %}
        <span class="float_title_secondary">{{ title_secondary_str }}</span>
        {% endif %}
    </div>
    {% endif %}
    
    <div class="container_outer" id="container_outer" autofocus>
        <div class="container" id="container" {% if adjust_padding_top %} style="padding-top: {{adjust_padding_top}};"{% endif %}>
            {{ content | safe }}
        </div>
    </div>

    <div class="float_card" id="float_card"></div>
    <div id="alt_text">
        <div id="alt_text_text"></div>
        <a id="close_alt_btn" class="float_btn" onclick="hide_alt()">
            <img src="{{url_base}}/img/cross.svg" style="transform: scale(0.8);">
        </a>
    </div>
    <div id="toast_div">Testing testing 123456 test.</div>

    <script>
        var current_page = {{ current_page }};
        var current_q = encodeURIComponent("{{ current_q }}");
        var max_page = {{ max_page }};
        var current_url = "{{current_url|safe}}";
        var url_base = "{{url_base}}";
        var sort_type = "{{sort_type}}";
        {% if section=='tl' %}
        localStorage.setItem("tl_current_page", "{{current_page}}");
        localStorage.setItem("tl_current_sort_type", "{{sort_type}}");
        localStorage.setItem("tl_current_tab", "{{current_tab}}");
        {% elif section=='userlist' %}
        localStorage.setItem("ul_current_page", "{{current_page}}");
        localStorage.setItem("ul_current_sort_type", "{{sort_type}}");
        {% endif %}
    </script>
    <script src="{{url_base}}/js/noreferer.js"></script>
    <script src="{{url_base}}/js/script.js"></script>
    <script src="{{url_base}}/js/logs.js"></script>
</body>

</html>