<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="{{url_base}}/css/nav.css" />
    <link rel="stylesheet" href="{{url_base}}/css/timeline.css" />
    <link rel="stylesheet" href="{{url_base}}/css/userlist.css" />
    <link rel="stylesheet" href="{{url_base}}/css/userpage.css" />
    <link rel="stylesheet" href="{{url_base}}/css/mediagrid.css" />
    <link rel="manifest" href="{{url_base}}/mt.webmanifest" crossorigin="use-credentials">
    <meta name="mobile-web-app-capable" content="yes">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline'; img-src 'self' data:;">
</head>

<body>
    <div class="container_outer" id="container_outer" autofocus>
        <div class="container" id="container"
        {% if adjust_padding_top %} style="padding-top: 0rem;" {% endif %} >
            {{ content | safe }}
        </div>
    </div>
    <div class="nav">
        <div class="nav_item_warp">
            <a class="nav_item {% if section=='users' %}nav_item_selected{% endif %}" href="{{url_base}}/userlist">
                <img src="{{url_base}}/img/home.svg" />
            </a>
            <a class="nav_item {% if section=='tl' %}nav_item_selected{% endif %}" href="{{url_base}}/tl">
                <img src="{{url_base}}/img/timeline.svg" />
            </a>
            
            <a class="nav_item {% if section=='fav' %}nav_item_selected{% endif %}" href="{{url_base}}/fav">
                <img src="{{url_base}}/img/bookmark_empty.svg" />
            </a>
            
            {% if alt_home_icon %}
            <a class="nav_item"
                href="{{url_base}}/shorts?type={{user.type}}&user={{user.user_name}}" onclick="show_loading_icon()">
                <img class="alt_home_icon" src="{{url_base}}/avatar/{{user.type}}/{{user.user_name}}" />
                <img src="{{url_base}}/img/video.svg" style="transform: scale(1.1);" />
            </a>
            {% else %}
            <a class="nav_item" href="{{url_base}}/shorts?q={{current_q}}" onclick="show_loading_icon()">
                <img src="{{url_base}}/img/video.svg" style="transform: scale(1.1);" />
            </a>
            {% endif %}

            <a class="nav_item {% if section=='download' %}nav_item_selected{% endif %}" href="{{url_base}}/download">
                <img src="{{url_base}}/img/dl.svg" />
            </a>
        </div>
    </div>
    <div class="page_control" id="page_control">
        {% if current_page > 1 %}
        <div class="page_control_warp" style="margin-left: -2.25rem;">
            <div class="page_control_item" onclick="go_page(1)">
                <img src="{{url_base}}/img/home2.svg" style="transform: scale(0.6);"/>
            </div>
        </div>
        {% endif %}
        <div class="page_control_warp">
            <div class="page_control_item" id="btn_prev" onclick="prev_page()">
                <img src="{{url_base}}/img/left.svg" />
            </div>
            <div class="page_control_item" id="page_text" onclick="go_page()">
                <span style="font-size: 0.9rem;">{{ current_page }}</span> / <span style="font-size: 0.7rem;"> {{ max_page }} </span>
            </div>
            <div class="page_control_item" id="btn_next" onclick="next_page()">
                <img src="{{url_base}}/img/right.svg" />
            </div>
        </div>
    </div>
    <button class="back-to-top" onclick="enter_fullscreen()" style="left: 3rem;">
        <img src="{{url_base}}/img/full.svg" style="transform: scale(0.65);" />
    </button>
    <button class="back-to-top" onclick="scrollToTop()">
        <img src="{{url_base}}/img/left.svg" />
    </button>


    <div class="float_card" id="float_card"></div>

    <div class="drag_area"></div>
    <script src="{{url_base}}/js/panzoom.js"></script>
    <script>
        var current_page = {{ current_page }};
        var current_q = encodeURIComponent("{{ current_q }}");
        var max_page = {{ max_page }};
        var current_url = "{{current_url|safe}}";
        var url_base = "{{url_base}}";
    </script>
    <script src="{{url_base}}/js/noreferer.js"></script>
    <script src="{{url_base}}/js/nav.js"></script>
</body>

</html>
