<div class="search_bar translucent" id="search_bar">
    <input type="text" name="q" placeholder="Search" id="search_bar_input" onkeydown="searchbar_on_enter(event,search)"
        onkeyup="update_search_q_placeholders()" onfocus="show_search_history()" onfocusout="hide_search_history()"
        autocomplete="off" />
    <img src="{{url_base}}/img/search.svg" onclick="search()" />
</div>
<div class="search_float translucent" id="search_float">
    <div class="search_history" id="search_history">
        <div class="search_history_list" id="search_history_list">
        </div>
        <div class="search_history_clear" onclick="clear_search_history()">
            clear
        </div>
    </div>
    <div class="search_history" id="external_search_suggestions">
        Search <span class="search_q_placeholder"></span> on <br>
        <a class="external_search_suggestion" onclick="external_search('', 'x')">
            <span class="deco_btn"><img class="inline_icon" src="{{url_base}}/img/x.svg"> X</span>
        </a>
        <a class="external_search_suggestion" onclick="external_search('', 'reddit')">
            <span class="deco_btn"><img class="inline_icon" src="{{url_base}}/img/reddit.svg"> Reddit</span>
        </a>
        <a class="external_search_suggestion" onclick="external_search('', 'fa')">
            <span class="deco_btn"><img class="inline_icon" src="{{url_base}}/img/fa.svg"> Furaffinity</span>
        </a>
        <a class="external_search_suggestion" onclick="external_search('', 'bsky')">
            <span class="deco_btn"><img class="inline_icon" src="{{url_base}}/img/bsky.svg"> Bluesky</span>
        </a>
    </div>
    <div class="search_history" id="full_hint" style="flex-direction: unset; display: block;" onclick="add_mode_full()">
        Hint: include <div style="display: inline-block; border: 1px solid #ffffff66; border-radius: 0.3rem;">mode:full
        </div> to perform a full text search, slow but more results and better non-English support. Otherwise uses
        FTS5 method. <b>Click this hint to add <div
            style="display: inline-block; border: 1px solid #ffffff66; border-radius: 0.3rem;">mode:full</div> to your
        search query.</b>
    </div>
</div>