<div class="setting_items">
    <div class="setting_item big_btn translucent" id="info"></div>
    <!-- <div id="logs" class="logs_settings"></div> -->
    <a class="setting_item big_btn translucent" href="{{url_base}}/logs">View Full Logs</a>
    <a class="setting_item big_btn translucent" href="{{url_base}}/logout">Logout</a>
    <a class="setting_item big_btn translucent" onclick="rescan()">Rescan Users</a>
    <!-- <a class="setting_item big_btn translucent" onclick="rescan(1)">Full Rescan</a> -->
    <a class="setting_item big_btn translucent" onclick="upload_cookies('x')">Upload cookies.txt for X</a>
    <a class="setting_item big_btn translucent" onclick="upload_cookies('fa')">Upload cookies.txt for Furaffinity</a>
    <a class="setting_item big_btn translucent" onclick="stop_server()">Stop</a>
</div>
<script>
    // {{url_base}}/api/stats
    function fetch_stats() {
        fetch('{{url_base}}/api/stats', {
            method: 'GET',
        }).then(response => response.json())
            .then(data => {
                document.getElementById('info').innerText = "Memory Usage (MB): " + data.memory_usage_mb;
                document.getElementById('info').innerText += "\nPosts Count: " + data.post_count;
            })
    }
    fetch_stats();

    function stop_server() {
        if (!confirm("Are you sure you want to stop the server? Make sure you have set up a restart mechanism (like systemd) to automatically restart it if needed.")) {
            return;
        }
        fetch('{{url_base}}/api/stop', {
            method: 'GET',
        }).then(response => {
            if (response.status === 200) {
                alert("Server is stopping...");
                location.reload();
            } else {
                response.json().then(data => {
                    alert("Error: " + (data.message || "Unknown error"));
                });
            }
        }).catch(error => {
            alert("Network error: " + error);
        });
    }

    function rescan(full = false) {
        if (!confirm("Are you sure you want to rescan users? This may take a while.")) {
            return;
        }
        fetch('{{url_base}}/api/rescan?full=' + (full ? '1' : '0'), {
            method: 'GET',
        }).then(response => {
            if (response.status === 200) {
                alert("Rescan started...");
            } else {
                response.json().then(data => {
                    alert("Error: " + (data.message || "Unknown error"));
                });
            }
        }).catch(error => {
            alert("Network error: " + error);
        });
    }

    // setTimeout(() => {
    //     update_logs(20, true)
    // }, 500)
    // setInterval(() => {
    //     update_logs(20, false)
    // }, 2000)
</script>