<div class="user_header_full">
    <a href="{{url_base}}/banner/{{user.type}}/{{user.user_name}}?redownload=1" target="_blank">
        <img src="{{url_base}}/banner/{{user.type}}/{{user.user_name}}" class="user_header_banner" />
    </a>
    <img src="{{url_base}}/banner/{{user.type}}/{{user.user_name}}" id="background_banner" />
    <div class="user_header">
        <a href="{{url_base}}/avatar/{{user.type}}/{{user.user_name}}?redownload=1" target="_blank">
            <img class="user_header_img" src="{{url_base}}/avatar/{{user.type}}/{{user.user_name}}" />
        </a>
        <div class="user_header_txt">
            {% if user.type in ['x', 'bsky'] %}
            <div class="user_header_title">{{user.nick}}</div>
            <div class="user_header_date">@<span style="user-select: all;">{{user.user_name}}</span></div>
            {% elif user.type == 'reddit' %}
            <div class="user_header_title">r/{{user.user_name}}</div>
            {% elif user.type == 'fa' %}
            <div class="user_header_title">{{user.nick}}</div>
            <div class="user_header_date">~ {{user.user_name}}</div>
            {% elif user.type == 'patreon' %}
            <div class="user_header_title">{{user.nick}}</div>
            <div class="user_header_date">on patreon</div>
            {% endif %}
        </div>
        <div style="margin: 0.5rem; font-size: 0.9rem; margin-left: 0.9rem;">{{posts_cnt}} <span
                style="opacity: 0.6;">Posts</span></div>
        <div class="user_body_text">
            {{user.description | safe}}
        </div>
        <div class="user_header_extra">
            {% if user.extra_data.get('location') %}
            <div class="extra_item">
                <img src="{{url_base}}/img/location.svg" />
                {{user.extra_data.get('location')}}
            </div>
            {% endif %}
            {% if user.extra_data.get('url') %}
            <a class="extra_item" href="https://{{user.extra_data.get('url')}}" target="_blank">
                <img src="{{url_base}}/img/link.svg" />
                {{user.extra_data.get('url')}}
            </a>
            {% endif %}
        </div>
        <a class="user_header_button" onclick="toggle_user_context_menu()" style="right: 3.5rem;">
            <img src="{{url_base}}/img/3dots.svg" />
        </a>
        {% if user.type == 'x' %}
        <a class="user_header_button" href="{{user.url}}" target="_blank">
            <img src="{{url_base}}/img/x.svg" />
        </a>
        {% elif user.type == 'bsky' %}
        <a class="user_header_button" href="{{user.url}}" target="_blank">
            <img src="{{url_base}}/img/bsky.svg" />
        </a>
        {% elif user.type == 'reddit' %}
        <a class="user_header_button" href="{{user.url}}" target="_blank">
            <img src="{{url_base}}/img/reddit.svg" style="transform: scale(1.8);" />
        </a>
        {% elif user.type == 'fa' %}
        <a class="user_header_button" href="https://www.furaffinity.net/user/{{user.user_name}}" target="_blank">
            <img src="{{url_base}}/img/fa.svg" style="transform: scale(1);" />
        </a>
        {% elif user.type == 'patreon' %}
        <a class="user_header_button" href="{{user.url}}" target="_blank">
            <img src="{{url_base}}/img/patreon.svg" style="transform: scale(1.2);" />
        </a>
        <a class="user_header_button" href="{{user.extra_data.get('party_url', '')}}" target="_blank" style="top: 3rem">
            <img src="{{url_base}}/img/fox.svg" style="transform: scale(1);" />
        </a>
        {% endif %}
        <div class="user_header_update_time">
            Updated: {{user.get_update_time_str()}}
        </div>

        {% if user.flagged %}
        <div class="flagged" style="top: 0.85rem; right: 14.9rem; bottom: auto; left: auto; transform: scale(0.8);">
            <img src="{{url_base}}/img/flagged.svg" />
        </div>
        {% endif %}
    </div>
    <div id="user_context_menu_warpper" style="display: none;">
        <div id="user_context_menu" class="context_menu">
            <a class="context_item" onclick="add_job('{{user.url}}', false, false)">
                <img src="{{url_base}}/img/reload.svg" class="inline_icon" /> Update</a>
            <a class="context_item" onclick="add_job('{{user.url}}', false, true)">
                <img src="{{url_base}}/img/reload.svg" class="inline_icon" /> Update (media only)</a>
            <a class="context_item" onclick="flag_user('{{user.uid}}')"><img src="{{url_base}}/img/flag.svg"
                    class="inline_icon" /> Flag User</a>
            <a class="context_item" onclick="unflag_user('{{user.uid}}')"><img src="{{url_base}}/img/unflag.svg"
                    class="inline_icon" /> Unflag User</a>
            <a class="context_item" onclick="add_rescan('{{user.uid}}')"><img src="{{url_base}}/img/scan.svg"
                    class="inline_icon" /> Scan</a>
        </div>
        <div id="user_context_menu_background" class="context_menu_background" onclick="toggle_user_context_menu()">
        </div>
    </div>
</div>

<script src="{{url_base}}/js/noreferer.js"></script>