<div class="timeline_toggle_bar">
    <div class="media_toggle" >
        <a class="toggle {% if tab == 'all' %}toggle_selected{% endif %}" href="{{url_base}}/userlist?tab=all">All</a>
        <a class="toggle {% if tab == 'groups' %}toggle_selected{% endif %}"
            href="{{url_base}}/userlist?tab=groups">Groups</a>
    </div>
</div>

<div class="big_btn translucent" id="group_btn" onclick="group_users()">Group Selected</div>

{% if tab == 'all' and users|length == 0 %}
<div class="no_user">
    No users found. <br><i>This is the user list page, go to timeline page to search for posts.</i>
</div>
{% endif %}

{% if tab == 'groups' and groups|length == 0 %}
<div class="no_user">
    No groups found.
</div>
{% endif %}

{% if tab == 'all' %}
<div class="users">
    {% for user in users %}
    <a class="user_card" href="{{url_base}}/user/{{user.type}}/{{user.user_name}}">
        <div class="user_select_toggle" onclick="select_user('{{user.uid}}');return false;" id="t{{user.uid}}"></div>
        <img src="{{url_base}}/banner/{{user.type}}/{{user.user_name}}" class="user_banner"></img>
        <div class="user_card_header">
            <img class="user_card_header_img" src="{{url_base}}/avatar/{{user.type}}/{{user.user_name}}" />
            <div class="user_card_header_txt">
                {% if user.type in ['x', 'bsky'] %}
                <div class="user_card_header_title">{{user.nick}}</div>
                <div class="user_card_header_date">@{{user.user_name}}</div>
                {% elif user.type == 'reddit' %}
                <div class="user_card_header_title">r/{{user.user_name}}</div>
                {% elif user.type == 'fa' %}
                <div class="user_card_header_title">{{user.nick}}</div>
                <div class="user_card_header_date">~ {{user.user_name}}</div>
                {% endif %}
            </div>
        </div>
        <div class="user_card_body_text">
            {{user.description}}
        </div>
        <div class="user_card_update_time">
            Updated: {{user.get_update_time_str()}}
        </div>
        {% if user.flagged %}
        <div class="flagged">
            <img src="{{url_base}}/img/flagged.svg" />
        </div>
        {% endif %}
    </a>
    {% endfor %}
</div>
{% elif tab == 'groups' %}
{% for group in groups %}
<div class="card_group">
    <div class="card_group_header" data-group="{{group}}" onclick="rename_group('{{group}}')">
        {{group}} <span style="font-size: 0.9rem;">({{users_in_groups[group]|length}})</span>
    </div>
    <div class="ungroup_btn big_btn translucent" data-group="{{group}}" onclick="ungroup_users('{{group}}')">
        Ungroup
    </div>
    <div class="users">
        {% for user in users_in_groups[group] %}
        <a class="user_card" href="{{url_base}}/user/{{user.type}}/{{user.user_name}}">
            <img src="{{url_base}}/banner/{{user.type}}/{{user.user_name}}" class="user_banner"></img>
            <div class="user_card_header">
                <img class="user_card_header_img" src="{{url_base}}/avatar/{{user.type}}/{{user.user_name}}" />
                <div class="user_card_header_txt">
                    {% if user.type in ['x', 'bsky'] %}
                    <div class="user_card_header_title">{{user.nick}}</div>
                    <div class="user_card_header_date">@{{user.user_name}}</div>
                    {% elif user.type == 'reddit' %}
                    <div class="user_card_header_title">r/{{user.user_name}}</div>
                    {% elif user.type == 'fa' %}
                    <div class="user_card_header_title">{{user.nick}}</div>
                    <div class="user_card_header_date">~ {{user.user_name}}</div>
                    {% endif %}
                </div>
            </div>
            <div class="user_card_body_text">
                {{user.description}}
            </div>
            <div class="user_card_update_time">
                Updated: {{user.get_update_time_str()}}
            </div>
            {% if user.flagged %}
            <div class="flagged">
                <img src="{{url_base}}/img/flagged.svg" />
            </div>
            {% endif %}
        </a>
        {% endfor %}
    </div>
</div>
{% endfor %}
{% endif %}
<script src="{{url_base}}/js/noreferer.js"></script>